<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>504655666989-m4nrrrh7p84804h906acubb2653d9qg4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.504655666989-m4nrrrh7p84804h906acubb2653d9qg4</string>
	<key>API_KEY</key>
	<string>AIzaSyBQQwYG4-kiWZq4YobWMe0Tr1DVOCAPenQ</string>
	<key>GCM_SENDER_ID</key>
	<string>504655666989</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bmoovd</string>
	<key>PROJECT_ID</key>
	<string>bmoovddatabase</string>
	<key>STORAGE_BUCKET</key>
	<string>bmoovddatabase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:504655666989:ios:55907dad845d86ad95bda4</string>
</dict>
</plist>